# Pin-mapping is for ICEstick

set_io --warn-no-port iw_clk 119
set_io --warn-no-port iw_sync 118
set_io --warn-no-port iw_r0 117
#set_io --warn-no-port iw_r1 116
#set_io --warn-no-port iw_r2 115
set_io --warn-no-port iw_g0 116
#set_io --warn-no-port iw_g1 113
#set_io --warn-no-port iw_g2 112
set_io --warn-no-port iw_b0 115
#set_io --warn-no-port iw_b1 98
#set_io --warn-no-port iw_b2 97
#set_io --warn-no-port ow_hsync 96
#set_io --warn-no-port ow_vsync 95
set_io --warn-no-port ow_r0 44
#set_io --warn-no-port ow_r1 93
#set_io --warn-no-port ow_r2 92
set_io --warn-no-port ow_g0 45
#set_io --warn-no-port ow_g1 90
#set_io --warn-no-port ow_g2 89
set_io --warn-no-port ow_b0 47
#set_io --warn-no-port ow_b1 87
#set_io --warn-no-port ow_b2 86
set_io --warn-no-port ow_hsync 48
set_io --warn-no-port ow_vsync 56

set_io --warn-no-port D_up 99
set_io --warn-no-port D_right 98
set_io --warn-no-port D_down 97
set_io --warn-no-port D_left 96
set_io --warn-no-port D_center 95
